# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules
/dist
/dist-ssr
/backend/dist

# Large data files
*.csv
*.jsonl
*.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
